{% extends './base.html' %}
{% block body %}

  <div class="container">
    <div class="row">
      <div class="col-4 mt-5 pt-4 text-center  ">
        <img src="static/img/institucion1.jpg" class="img-fluid" alt="Responsive image">
      </div>
      <div class="col-8 mt-5    ">
        <img src="static/img/escultura2.jpg" class="img-fluid" alt="Responsive image">
      </div>
    </div>
    <hr class="linea mt-2">
    <div class="row">
      <div class="col-sm-4 col-md-3 col-lg-4 ">
       <a href="http://intranet.esfappuno.edu.pe/" class="btn btn-primary btn-lg active" role="button" style="width: 95%;">Intranet</a>
      </div>
    
      <div class="col-sm-4 col-md-3 col-lg-4">
        <a href="" class="btn btn-primary btn-lg active" role="button"style="width: 95%;">SIGA</a>
      </div>
    
      <div class="col-sm-4 col-md-3 col-lg-4" >
        <a href="http://intranet.esfappuno.edu.pe/tramites/publico" class="btn btn-primary btn-lg active" role="button"style="width: 95%;">TRAMITES</a>
      </div>
    </div>
  </div>
      
  
      

  {% endblock %}

