
  {% extends './base.html' %}

  {% block body %}
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12    mt-5">
        <h2 class="text-center font-weight-bold mt-4" style="font-size:calc(0.5em + 1vw)">ADMISIÓN 2022</h2>
        <p class="font-italic text-center " style="font-size:calc(0.5em + 0.7vw)">Aprender para innovar, innovar para emprender. Esta es la esencia de una institución joven, no por sus años, sino
          por su espíritu. Esta es la esencia de la Institución que se reinventa día a día por sus estudiantes y para su
          comunidad. Este es el espíritu de la Institución innovadora para gente que quiere salir adelante.</p>  
      </div>
    </div>
    <div class="row">
      
      <div class="col-sm-12 col-md-12 col-lg-12    mt-2">
        <img src="static/img/portada-de-admision.jpg" class="d-block w-100 " alt="...">
      </div>
    </div> 

    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-6    mt-2">
        <div class="box">
          <div class="img-box">
           
            <a  href="formularioB.html" target="_blank"><img class=" " src="static/img/prospecto 1.png" alt="Chania" ></a>
         
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-6   mt-2">
        <div class="box">
          <div class="img-box">
            <a  href="static/doc/requisitos.pdf" target="_blank"><img class="" src="static/img/prospecto 2.png" alt="" ></a>
          </div>
        </div>
      </div> 
    </div>
    
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-6    mt-2">
        <div class="box">
          <div class="img-box">
            <a target="_blank" href="static/doc/vacantes.pdf"><img class="" src="static/img/prospecto 3.png" alt="Chania" ></a>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-6   mt-2">
        <div class="box">
          <div class="img-box">
            <a target="_blank" href="static/doc/temario.pdf"><img class="" src="static/img/prospecto 4.png" alt="Chania" ></a>
          </div>
        </div>
      </div> 
    </div>
     
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-6    mt-2">
        <div class="box">
          <div class="img-box">
            <a target="_blank" href="static/doc/ingresantes.pdf"><img class="" src="static/img/prospecto 5.png" alt="Chania" ></a>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-6   mt-2">
        <div class="box">
          <div class="img-box">
            <a target="_blank" href="static/doc/prospecto.pdf"><img class="" src="static/img/prospecto 6.png" alt="Chania" ></a>
          </div>
        </div>
      </div> 
    </div>
      <br>    
 
      
      
    
  </div>
  {% endblock %}