{% extends './base.html' %}
{% block body %}


<div class="container">
    <div class="row">
        <div class="col-12 mt-5 gris1 border border-primary   ">
            <h2 class="text-white ml-5 py-2 Light weight text font-weight-bold" style="font-size:calc(0.8em + .6vw)">DOCUMENTOS</h2>
        </div>
    </div>
</div>

<div class="container mt-2 mb-2 border border-light">


<div class="container mt-4 font-weight-bold ">
    <div class="row">
        <div class="col-2  pt-3 documentobg text-black">
            <p  style="font-size:calc(0.8em + 0.2vw)">Nro.</p>
        </div>
        <div class="col-8  pt-3 documentobg text-blak text-center">
            <p style="font-size:calc(0.8em + 0.2vw)">Descripción</p>
        </div>
        <div class="col-2  pt-3 documentobg text-black ">
            <p style="font-size:calc(0.8em + 0.2vw)">Arch.</p>
        </div>
    </div>
    
</div>
<div class="container ">
    <div class="row">
        <div class="col-1 mt-2">
            <p style="font-size:calc(0.8em + 0.2vw)">001</p>
        </div>
        <div class="col-8 mt-2">
            <p style="font-size:calc(0.8em + 0.2vw)">Documento Normativo ESFA-PUNO: Estatuto ESFA-PUNO</p>
        </div>
        <div class="col-2 mt-2 text-center ">
            <p > <img src="static/img/pdf.jpg" width="30" height="30" alt="Responsive image"><a  target="_blank"   href="doc/B-ESTATUTO_ESFAP-PUNO-202029.pdf" > Ver</a></p>
        </div>
    </div>
    <hr class="linea mt-2">
</div>
<div class="container ">
    <div class="row">
        <div class="col-1 mt-2">
            <p style="font-size:calc(0.8em + 0.2vw)">002</p>
        </div>
        <div class="col-8 mt-2">
            <p style="font-size:calc(0.8em + 0.2vw)">Documento Normativo ESFA-PUNO: Manual de organización de funciones (MOF) ESFA-PUNO</p>
        </div>
        <div class="col-2 mt-2 text-center">
            <p > <img src="static/img/pdf.jpg" width="30" height="30" alt="Responsive image"><a target="_blank" href="doc/D-MOF-ESFAP-PUNO-202028.pdf" > Ver</a></p>
        </div>
    </div>
    <hr class="linea mt-2">
</div>
<div class="container ">
    <div class="row">
        <div class="col-1 mt-2">
            <p style="font-size:calc(0.8em + 0.2vw)">003</p>
        </div>
        <div class="col-8 mt-2">
            <p style="font-size:calc(0.8em + 0.2vw)">Documento Normativo ESFA-PUNO: Reglamento Interno ESFA-PUNO</p>
        </div>
        <div class="col-2 mt-2 text-center">
            <p > <img src="static/img/pdf.jpg" width="30" height="30" alt="Responsive image"><a target="_blank" href="doc/falta.pdf" > Ver</a></p>
        </div>
    </div>
    <hr class="linea mt-2">
</div>
<div class="container ">
    <div class="row">
        <div class="col-1 mt-2">
            <p style="font-size:calc(0.8em + 0.2vw)">004</p>
        </div>
        <div class="col-8 mt-2">
            <p style="font-size:calc(0.8em + 0.2vw)">Documento Normativo ESFA-PUNO: Reglamento Institucional(RIN)</p>
        </div>
        <div class="col-2 mt-2 text-center">
            <p > <img src="static/img/pdf.jpg" width="30" height="30" alt="Responsive image"><a target="_blank" href="doc/C-RIN_ESFAP-PUNO-202031(1).pdf" > Ver</a></p>
        </div>
    </div>
    <hr class="linea mt-2">
</div>
<div class="container ">
    <div class="row">
        <div class="col-1 mt-2">
            <p style="font-size:calc(0.8em + 0.2vw)">005</p>
        </div>
        <div class="col-8 mt-2">
            <p style="font-size:calc(0.8em + 0.2vw)">Documento Normativo (PAT) ESFA-PUNO</p>
        </div>
        <div class="col-2 mt-2 text-center">
            <p > <img src="static/img/pdf.jpg" width="30" height="30" alt="Responsive image"><a target="_blank" href="doc/falta.pdf" > Ver</a></p>
        </div>
    </div>
    <hr class="linea mt-2">
</div>
<div class="container ">
    <div class="row">
        <div class="col-1 mt-2">
            <p style="font-size:calc(0.8em + 0.2vw)">006</p>
        </div>
        <div class="col-8 mt-2">
            <p style="font-size:calc(0.8em + 0.2vw)">Proyecto Educativo Institucional (PEI) ESFA-PUNO</p>
        </div>
        <div class="col-2 mt-2 text-center">
            <p > <img src="static/img/pdf.jpg" width="30" height="30" alt="Responsive image"><a target="_blank" href="doc/A-PEI-ESFAP-PUNO-201942(1).pdf" > Ver</a></p>
        </div>
    </div>
    <hr class="linea mt-2">
</div>
<div class="container ">
    <div class="row">
        <div class="col-1 mt-2">
            <p style="font-size:calc(0.8em + 0.2vw)">007</p>
        </div>
        <div class="col-8 mt-2">
            <p style="font-size:calc(0.8em + 0.2vw)">Documento para titulación: Reglamento de titulación ESFA-PUNO</p>
        </div>
        <div class="col-2 mt-2 text-center">
            <p > <img src="static/img/pdf.jpg" width="30" height="30" alt="Responsive image"><a target="_blank" href="doc/falta.pdf" > Ver</a></p>
        </div>
    </div>
    <hr class="linea mt-2">
</div>
</div>

</div>
</div>

{% endblock %}