{% extends './base.html' %}

{% block body %}


  <div class="container">
    <div class="row">
      <div class="col-12">
        <img src="static/img/edu-plasticas1.jpg" class="img-fluid" alt="Responsive image">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row ">
      <div class="col-sm-8 col-md-8 col-lg-12 shadow-sm p-3  mt-2">
        <h2 class="font-weight-bold  text-center " style="font-size:calc(0.7em + 1vw)">Carrera Profesional Educación
          Artística – Especialidad: Artes Plásticas</h2>
        <h2 class="font-weight-normal   " style="font-size:calc(0.7em + 1vw)">Descripción</h2>
        <p class="ml-4 mr-2 font-italic text-justify" style="font-size:calc(.6em + .6vw)">La carrera profesional de
          Educación Artística – Artes Plásticas,
          tiene una
          duración de 5 años, con una formación especializada en la educación en artes plásticas, con acceso al
          campo laboral
          en los niveles de Inicial, Primaria, Secundaria y Superior Universitaria-No Universitaria. Los egresados
          de esta
          carrera profesional logran el dominio de las diferentes técnicas de expresión plástica acorde al avance
          de la
          ciencia y tecnología. Además de ser promotor y organizador de Talleres de ejecución plástica.</p>
        <h2 class="font-weight-normal   " style="font-size:calc(0.7em + 1vw)">Objetivo</h2>
        <p class="ml-4 mr-2 font-italic text-justify" style="font-size:calc(.6em + .6vw)">Formar docentes especializados
          en Educación Artística, con una sólida
          formación acorde a la demanda cultural de la sociedad moderna, capaces de transformar su medio con
          investigación
          y propuesta artística cultural de impacto en la región.</p>
        <h2 class="font-weight-normal text-center  " style="font-size:calc(0.7em + 1vw)">Grado y Título</h2>
        <p class="ml-4 mr-2 font-italic text-justify" style="font-size:calc(.6em + .6vw)">De acuerdo a los alcances de
          la nueva Ley Universitaria N° 30220, la
          Escuela Superior de Formación Artística Pública de Puno, está facultado para otorgar:
          <br>
        <div class="container">
          <div class="row">
            <div class="col-sm-8 col-md-8 col-lg-6  p-3  mt-2">
              <h2 style="font-size:calc(0.7em + 1vw)">Grado Académico</h2>
              <p class="ml-4 mr-2 font-italic text-justify" style="font-size:calc(.6em + .6vw)">-GRADO DE BACHILLER EN
                EDUCACIÓN ARTÍSTICA.<br>Menciones: Pintura – Escultura – Grabado</p>
              <h2 style="font-size:calc(0.7em + 1vw)">Título Profesional</h2>
              <p class="ml-4 mr-2 font-italic text-justify" style="font-size:calc(.6em + .6vw)">-TÍTULO PROFESIONAL DE
                LICENCIADO EN EDUCACIÓN ARTÍSTICA.<br>Menciones: Pintura – Escultura – Grabado</p>
              <h2 style="font-size:calc(0.7em + 1vw)">Tiempo de Estudio</h2>
              <p class="ml-4 mr-2 font-italic text-justify" style="font-size:calc(.6em + .6vw)">-Cinco años,
                distribuidos en diez semestres académicos.<br><br></p>
              </p>
            </div>
            <div class="col-sm-8 col-md-4 col-lg-6 ">
              <img src="static/img/pintando-esfa.jpg" class="d-block w-100 " alt="escuela2">
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-sm-8 col-md-4 col-lg-6 ">
                <h2 class="font-weight-normal   " class="font-weight-normal" style="font-size:calc(0.7em + 1vw)">Campo
                  ocuapcional</h2>
                <P>El egresado estara preparado para formar parte de la gama de profesionales con un alto nivel de
                  competitividad de las cuales se podra desempeñar en los siguientes campos de ejercicio profesional.
                  <br>
                <div id="vinetas">
                  <ul class="vinetas" style="font-size:calc(.5em + .8vw)">
                    <li>Producción artística.</li>
                    <li>Investigación de artes visuales.</li>
                    <li>Dirección de museos y centros culturales.</li>
                    <li>Dirección de artes visuales.</li>
                    <li>Crítico de arte.</li>
                    <li>Promotor cultural.</li>
                    <li>Asesor de artes visuales.</li>
                    <li>Ejercicio de la docencia en arte.</li>
                    <li>Curadoria y museografia.</li>
                  </ul>
                </div>
              </div>
              <div class="col-sm-8 col-md-4 col-lg-6 ">
                <img src="static/img/artes plasticas campo.jpg" class="d-block w-100 " alt="escuela2">
              </div>
            </div>
          </div>
          

          </P>
        </div>
      </div>


    </div>
    <hr class="linea mt-4">
  </div>
  </div>

  {% endblock %}