{% extends './base.html' %}
{% block body %}


  <div class="container">
    <div class="row">
        <div class="col-12">
            <img src="static/img/for-musica.jpg" class="img-fluid" alt="Responsive image">
        </div>
    </div>
  </div>
<div class="container">
    <div class="row ">
        <div class="col-sm-8 col-md-8 col-lg-8 shadow-sm p-3  mt-2">
            <h2 class="font-weight-bold  text-center "style="font-size:calc(0.7em + 1vw)">Carrera Profesional De Formación Artística – Especialidad: Música
            </h2>
            <h2 class="font-weight-normal   "style="font-size:calc(0.7em + 1vw)">Descripción</h2>
            <p class="ml-4 mr-2 font-italic text-justify">La Carrera Profesional de Formación Artística tiene una duración de
                cinco años, formación especializada en diferentes áreas instrumentales que le permiten insertarse
                laboralmente en diferentes campos de la actividad musical como interprete en: Agrupaciones musicales,
                orquestas sinfónicas, agrupaciones corales, intérpretes promotores de entidades culturales, gestores
                culturales y ejercicio en la docencia de nivel superior.
            <h2 class="font-weight-normal   "style="font-size:calc(0.7em + 1vw)">Objetivo</h2>
            <p class="ml-4 mr-2font-italic text-justify">Formar Artistas profesionales en interpretación musical,
                especializados con una sólida formación acorde a las demandas culturales de la sociedad moderna, capaces
                de transformar su medio con propuestas artísticas culturales de impacto en su región.
            <h2 class="font-weight-normal   "style="font-size:calc(0.7em + 1vw)">Grado y Título</h2>
            <p class="ml-4 mr-2 font-italic text-justify">De acuerdo a los alcances de la nueva Ley Universitaria N° 30220,
                la Escuela Superior de Formación Artística Pública de Puno, está facultado para otorgar:
                <br><br>
                -GRADO DE BACHILLER EN FORMACIÓN ARTÍSTICA MÚSICA.<br>
                -TÍTULO PROFESIONAL DE LICENCIADO EN FORMACIÓN ARTÍSTICA- MÚSICA.<br><br>

                </p>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4 text-center mt-4">
            <img class="img-responsive img-thumbnail" src="static/img/director.jpg" alt="" width="300" height="350">
            <p>Dr. Sc. Rubén M. COTRADO RAMOS <br>
              DIRECTOR GENERAL – ESFAP-Puno</p>
        </div>

    </div>
    <hr class="linea mt-4">
</div>
</div>



      
      {% endblock %}