{% extends './base.html' %}
{% block body %}


  <div class="container">
    <div class="row">
        <div class="col-12">
            <img src="static/img/for-plasticas1.jpg" class="img-fluid" alt="Responsive image">
        </div>
    </div>
  </div>
<div class="container">
    <div class="row ">
        <div class="col-sm-8 col-md-8 col-lg-8 shadow-sm p-3  mt-2">
            <h2 class="font-weight-bold  text-center "style="font-size:calc(0.7em + 1vw)">Carrera Profesional De Formación Artística – Especialidad: Artes Plásticas
            </h2>
            <h2 class="font-weight-normal   "style="font-size:calc(0.7em + 1vw)">Descripción</h2>
            <p class="ml-4 mr-2 font-italic text-justify">La carrera profesional de Formación Artística – Artes Plásticas,
                tiene una duración de 5 años, con una formación especializada en Artes Plásticas en el nivel
                universitario con desempeño laboral independiente en el campo del arte, así como en la Docencia
                Universitaria-No Universitaria. Los egresados de esta carrera logran el dominio de las diferentes
                técnicas de expresión plástica acorde al avance de la ciencia y la tecnología. Además desarrollan
                capacidades, habilidades y destrezas creativas para ser promotores diseñadores y organizadores de
                empresas con proyección artística.
            <h2 class="font-weight-normal   "style="font-size:calc(0.7em + 1vw)">Objetivo</h2>
            <p class="ml-4 mr-2 font-italic text-justify">Formación integral de artistas profesionales en artes plásticas, formando parte
                activa de una sociedad multicultural, donde nuestra acción será reconocida nacionalmente por sus logros académicos,
                la investigación y la creación artística, comprometidos permanentemente con el fortalecimiento de la identidad
                cultural andina, con un alto sentido de responsabilidad y compromiso social.</h2>
                <h2 class="font-weight-normal   "style="font-size:calc(0.7em + 1vw)">Grado y Título</h2>
            <p class="ml-4 mr-2 font-italic text-justify">De acuerdo a los alcances de la nueva Ley Universitaria N° 30220,
                la Escuela Superior de Formación Artística Pública de Puno, está facultado para otorgar:
                <br><br>
                -GRADO DE BACHILLER EN ARTE.<br>
                -TÍTULO PROFESIONAL DE LICENCIADO EN ARTE.<br><br>
            
                MENCIONES: PINTURA – ESCULTURA – GRABADO</p>
            </div>
        <div class="col-sm-4 col-md-4 col-lg-4 text-center mt-4">
            <img class="img-responsive img-thumbnail" src="static/img/director.jpg" alt="" width="300" height="350">
            <p>Dr. Sc. Rubén M. COTRADO RAMOS <br>
              DIRECTOR GENERAL – ESFAP-Puno</p>
        </div>

    </div>
    <hr class="linea mt-4">
</div>
</div>

{% endblock %}