{% extends './base.html' %}
{% block body %}


    <div class="container">
        <h2 class="mt-5 font-weight-bold text-center " style="font-size:calc(0.8em + 1vw)"> PLANA DOCENTE ESFA - PUNO</h2>
        <hr class="linea mt-2">
    </div>
    <div class="container">
        <img class="img-responsive img-thumbnail" src="static/img/plana-docente.jpg" alt="" width="1100" height="350">
    </div>
    <div class="container">
        <div class="row ">
            <div class="col-sm-8 col-md-8 col-lg-8 shadow-sm p-3  mt-2">
                <h2 class="font-weight-bold   "style="font-size:calc(0.7em + 1vw)">Nuestra institución</h2>
                <p class="ml-4 pr-3 font-italic text-justify">La Escuela Superior de Formación Artística Pública de
                    Puno, como Institución de
                    Nivel Superior Gestora del Arte en la Región Puno, tiene una arraigada identidad y prestigio en la
                    valoración,
                    promoción de la expresión cultural ancestral y contemporánea, dentro del marco contextual Peruano
                    multi-étnico y
                    pluricultural, que contribuye en la formación académica profesional; ofertando una educación de
                    calidad en sus
                    diferentes carreras Profesionales, evidenciado en la formación de educadores líderes en el área de
                    Educación
                    Artística y Formación Artística en Música, Artes Plásticas y Danza.
                    <BR><BR>
                    El presente año 2022, Puno tiene el privilegio de contar con una entidad educativa Superior de Nivel
                    Universitario,
                    de conformidad a la Resolución N° 0258-2012ANR, que aprueba la Estructura Curricular Universitaria
                    de la Escuela
                    Superior de Formación Artística Pública de Puno.
                    <BR>
                    <BR>

                   


                </p>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4 text-center mt-4">
                <img class="img-responsive img-thumbnail" src="static/img/director.jpg" alt="" width="280" height="350">
                <p>Dr. Sc. Rubén M. COTRADO RAMOS <br>
                    DIRECTOR GENERAL – ESFAP-Puno</p>
            </div>

        </div>
        <hr class="linea mt-4">
    </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="font-weight-bold "style="font-size:calc(0.7em + 1vw)">Autoridades</h2>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 shadow-sm p-3   mt-2">
                
                <p class="ml-4 font-italic ">
                    DIRECTOR GENERAL – ESFAP-Puno<br>
                    Dr. Sc. Rubén M. COTRADO RAMOS <br><br>
                    Directora Académica.<br>
                    Lic. Sandra Garnica Jiménez.<br><br>
                    Director de Investigación.<br>
                    Lic. Wilber A. Maydana Iturraga<br><br>
                    Director de Formación Continua.<br>
                    Lic. Toribio Toque Juarez<br><br>
                    
                    
                    
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 shadow-sm p-3   mt-2">
                
                <p class="ml-4 font-italic ">
                    Secretario Académico.<br>
                    Mg. Francisco Carrión Cusihuaman.<br><br>
                    Jefe del Área de Administración<br>
                    M. Sc. Julio Basilio Flores Mamani<br><br>
                    Jefe del Área de Educación Artística Música<br>
                    Lic. Isidro Duran Charca<br><br>
                    Jefe del Área Académica de Música<br>
                    Lic. Eduardo Mamani Ñaca.<br><br>
                   
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 shadow-sm p-3   mt-2">
                
                <p class="ml-4 font-italic ">
                    
                    Jefe del Área Acad. de Educ. Art. Artes Plásticas.<br>
                    Mg. Jerber David Franco Pineda.<br><br>
                    Jefe del Área Académica de Artes Plásticas.<br>
                    Lic. Rolando D. Mamani Inquilla.<br><br>
                    Jefe del Área de Educación Artística Danza<br>
                    Lic. César Calsin Condori.<br><br>
                    Coordinador de Imagen Institucional.<br>
                    Lic. Juan Francisco Gómez Flores.<br><br>
            </div>
        </div>
        <hr class="linea mt-4">
        <div class="row">
            <div class="col-12">
                <h2 class="font-weight-bold "style="font-size:calc(0.7em + 1vw)">Docentes</h2>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 shadow-sm p-3   mt-2">
                
                <p class="ml-4 font-italic ">
                    -Dra. Constantina Otilia AGUILAR OLIVERA<br>
                    -Dr. José Domingo CALISAYA MAMANI<br>
                    -Mg. Edgar Justo CRUZ CHOQUE<br>
                    -Mg. Walter Paz QUISPE SANTOS<br>
                    -Mg. Ana María AROHUANCA NINA<br>
                    -Mg. Francisco HOLGUIN ROQUE<br>
                    -Lic. Jhonny SALAS RODRIGUEZ<br>
                    -Lic. Toribio TOQUE JUAREZ<br>
                    -Lic. Plácido Efraín GONZALES FLORES<br>
                    -Lic. Javier LUQUE MAMANI<br>
                    -Prof. Jaime Eufraín FLORES QUISPE<br>
                    -Prof. Víctor Julio VARGAS SACACA<br>
                    
                    
                    
                    
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 shadow-sm p-3   mt-2">
                
                <p class="ml-4 font-italic ">
                    -Prof. Edgar Filiberto CRUZ QUISPE<br>
                    -Prof. Juan Félix CUNO BALCONA<br>
                    -Prof. Betty Dealtina REBOA VARGAS<br>
                    -Lic. Germain HUMPIRI VELÁSQUEZ<br>
                    -Lic. Jaime TIPO CALSINA<br>
                    -Lic. Justo Edwin CHURA QUISPE<br>
                    -Lic. Ronal CHOQUE SANTUYO<br>
                    -Lic. Wilber Wilson QUISPE VELÁSQUEZ<br>
                    -Lic. Hugo PACA ÑACA<br>
                    -Lic. Beatriz Vilma MAMANI MARÓN<br>
                    -Lic. Iván TAMAYO DELGADO<br>
                    -Lic. Elvis ARI PAMPA<br>
                   
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 shadow-sm p-3   mt-2">
                
                <p class="ml-4 font-italic ">
                    -Lic. Juan Carlos YANQUI SALCEDO<br>
                    -Lic. Yuri MENDOZA DÍAZ<br>
                    -Prof. Jorge Abel PARICAHUA HUACO<br>
                    -Prof. Jaime AÑAZCO COZO<br>
                    -Prof. David Teófilo APAZA GRANDE<br>
                    -Prof. Jaime ROMERO SANCHEZ<br>
                    -Prof. Felícitas ALCOS QUISPE<br>
                    -Lic. Alejandro Lenin SOTOMAYOR TURPO<br>
                    -Lic. Julio FLORES VARGAS<br>
                    -Bach. Beatriz NINA CONDORI<br>
            </div>
        </div>
        <hr class="linea mt-4">
        <div class="row">
            <div class="col-12">
                <h2 class="font-weight-bold "style="font-size:calc(0.7em + 1vw)">Administrativos</h2>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 shadow-sm p-3   mt-2">
                
                <p class="ml-4 font-italic ">
                    -M.Sc. Rosa Elena HUANCA MACHACA<br>
                    -Sra. Juana HANCCO AGUILAR<br>
                    -Sra. Mercedes BARRIONUEVO CALATAYUD<br>
                    -Sra. Zoila GALVEZ DE FUENTES<br>
                    
                    
                    
                    
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 shadow-sm p-3   mt-2">
                
                <p class="ml-4 font-italic ">
                    -Sra. Martina Marina ACERO BELIZARIO<br>
                    -Sr. Sebastián HUARSAYA ZAMATA<br>
                    -Sr. Feliciano TISNADO MONTEAGUDO<br>
                    -Sra. Gloria Aydeé MENDOZA MANZANO<br></p>
                   
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 shadow-sm p-3   mt-2">
                
                <p class="ml-4 font-italic ">
                    -Sr. Clemente GARAVITO RAMOS<br>
                    -Sra. Petrona Marina CAÑAZACA QUISPE<br>
                    -Sr. Ángel Porfirio MAQUERA MARCA<br>
                    </p>
            </div>
        </div>
        <hr class="linea mt-4">
    </div>
    </div>

    
            <br>
            

{% endblock %}